pycache/*
RTX3090_PC/BundleSDF/01_RealSense_box/depth/*
RTX3090_PC/BundleSDF/01_RealSense_box/masks/*
RTX3090_PC/BundleSDF/01_RealSense_box/output/*
RTX3090_PC/BundleSDF/01_RealSense_box/rgb/*
RTX3090_PC/BundleSDF/02_Beaker/depth/*
RTX3090_PC/BundleSDF/02_Beaker/masks/*
RTX3090_PC/BundleSDF/02_Beaker/output/*
RTX3090_PC/BundleSDF/02_Beaker/rgb/*
RTX3090_PC/BundleSDF/03_Mouse/depth/*
RTX3090_PC/BundleSDF/03_Mouse/masks/*
RTX3090_PC/BundleSDF/03_Mouse/output/*
RTX3090_PC/BundleSDF/03_Mouse/rgb/*

RTX3090_PC/FoundationPose/openCV_data/Box_test/*
RTX3090_PC/FoundationPose/openCV_data/01_RealSense_box/depth/*
RTX3090_PC/FoundationPose/openCV_data/01_RealSense_box/masks/*
RTX3090_PC/FoundationPose/openCV_data/01_RealSense_box/output/*
RTX3090_PC/FoundationPose/openCV_data/01_RealSense_box/rgb/*
RTX3090_PC/FoundationPose/openCV_data/02_Beaker/depth/*
RTX3090_PC/FoundationPose/openCV_data/02_Beaker/masks/*
RTX3090_PC/FoundationPose/openCV_data/02_Beaker/output/*
RTX3090_PC/FoundationPose/openCV_data/02_Beaker/rgb/*
RTX3090_PC/FoundationPose/openCV_data/03_Mouse/depth/*
RTX3090_PC/FoundationPose/openCV_data/03_Mouse/masks/*
RTX3090_PC/FoundationPose/openCV_data/03_Mouse/output/*
RTX3090_PC/FoundationPose/openCV_data/03_Mouse/rgb/*
RTX3090_PC/FoundationPose/openCV_data/04_CAD_RealSense_box/depth/*
RTX3090_PC/FoundationPose/openCV_data/04_CAD_RealSense_box/masks/*
RTX3090_PC/FoundationPose/openCV_data/04_CAD_RealSense_box/output/*
RTX3090_PC/FoundationPose/openCV_data/04_CAD_RealSense_box/ob_in_cam/*
RTX3090_PC/FoundationPose/openCV_data/04_CAD_RealSense_box/rgb/*

pose_estimation/ArUco_final/*